section#best {
  min-height: 800px;
}
section#best div.wrap {
  
}
section#best div.wrap h2 {
  text-align: center;
  margin-bottom: 30px;
}
section#best div.wrap h2::before{
  content: "";
  background-image: url(../img/playwithetude-icon.png);
  width: 36px;
  height: 47px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
section#best div.wrap a {  
  
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
section#best div.wrap a p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 46px;
  background-color: #404040;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
section#best div.wrap ul {
  
}
section#best div.wrap ul div.products {
  
}
section#best div.wrap ul div.products img {
  
}
section#best div.wrap ul div.products h3 {
  
}
section#best div.wrap ul div.products p {
  display: flex;
  font-weight: 200;
  color: #999999;
}
section#best div.wrap ul div.products p span {
  font-weight: 500;
  color: #ef4a75;
}
section#best div.wrap ul div.products p label {
  text-decoration: line-through;
}
section#best div.wrap ul div.products a {
  
}
.slick-slide {
  margin: 0 5px; /* space(여백)/2 */
}