footer {
  
  position: relative;
}
footer .wrap {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .wrap p.jo {  
  line-height: 2;
}
footer .wrap h2.si {  
 
}
footer .wrap li.email {  
  list-style: none;
  position: relative;
  padding: 25px 100px;
}
footer .wrap li.email::before{
  content: "";
  width: 680px;
  height: 65px;
  display: block;
  background-color: rgba(118, 117, 117, 0.3);
  position: absolute;
  border-radius: 20px;
  left: -150px;
  top: 0;
}
footer .wrap li.atg {  
  list-style: none;
}
footer .wrap p.in {
  
}
footer .wrap ul.named {  
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
footer .wrap ul.named li {
  
}
footer .wrap ul.named li h3 {  
  margin: 20px 0;
  text-align: center;
}
footer .wrap ul.named li a {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .wrap ul.named li a p {  
  line-height: 1.6;
  color: #999999;
  font-size: 15px;
}
footer .wrap ul.bot {  
  width: 50%;
}
footer .wrap ul.bot::before{
  content: "";
  border-top: 1px solid #999999;
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}
footer .wrap ul.bot li {  
  margin-top: 50px;
  color: #999999;
}
footer .wrap p.sc {  
  margin-top: 30px;
  font-size: 14px;
}
footer .wrap p.sc::before{
  content: "";
  background-image: url(../img/icon-accessibility_n.svg);
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}