section#new {  
  min-height: 1000px;
  box-sizing: border-box;
}
section#new div.wrap {
  
}
section#new div.wrap h2.h3 {  
  text-align: center;
  margin-bottom: 30px;
}
section#new div.wrap h2.h3::before{
  content: "";
  background-image: url(../img/whatsnew-icon.png);
  width: 48px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
section#new div.wrap p {  
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
section#new div.wrap p a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 46px;
  background-color: #404040;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
section#new div.wrap ul {  
  display: grid;
  grid-template-columns: 50% 50%;
}
section#new div.wrap ul .photo{
  grid-column: 1;
  position: relative;
}
section#new div.wrap ul .photo img{
  width: 855px;
  height: 1224px;
  border-radius: 10px;
}
section#new div.wrap ul .photo h2 {  
  position: absolute;
  font-weight: 700;
  bottom: 50px;
  left: 50px;
}
section#new div.wrap ul h2 br {
  
}
section#new div.wrap ul .newpro{
  grid-column: 2;
  display: flex;
  width: 100%;
}
.slick-prev, .slick-next{
  
}
section#new div.wrap ul .newpro div.products {  
  width: calc(100% / 2) !important;
  height: calc(100% / 2) !important;
  padding: 20px;
  box-sizing: border-box;
}
section#new div.wrap ul .newpro div.products img {  
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
section#new div.wrap ul .newpro div.products h3 {
  
}
section#new div.wrap ul .newpro div.products p {  
  justify-content: start;
  color: #888888;
  line-height: 19px;
}
section#new div.wrap ul .newpro div.products p label{
  text-decoration: line-through;
}
section#new div.wrap ul .newpro div.products p span {  
  color: #ef426f;
  font-size: 19px;
  font-weight: 500;
}
section#new div.wrap ul .newpro div.products p span br {
  
}
section#new div.wrap ul .newpro div.products a {
  width: 122px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  background-color: #eaeaea;
  border-radius: 5px;
  font-size: 14px;
}
.slick-prev::before{
  color: black !important;
}
.slick-next::before{
  color: black !important;
}