section#new {  
  min-height: 1000px;
}
section#new div.wrap {
  
}
section#new div.wrap h2.h3 {  
  text-align: center;
}
section#new div.wrap h2.h3::before{
  content: "";
  background-image: url(../img/whatsnew-icon.png);
  width: 48px;
  height: 45px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
section#new div.wrap a {  
  text-align: center;
}
section#new div.wrap ul {  
  display: grid;
  grid-template-columns: 50% 50%;
}
section#new div.wrap ul h2 {  
  grid-column: 1;
  /*! position: absolute; */
  font-weight: 700;
}
section#new div.wrap ul h2::before{
  content: "";
  background-image: url(../img/new_photo_big.jpg);
  display: block;
  width: 855px;
  height: 1224px;
  /*! position: relative; */
}
section#new div.wrap ul h2 br {
  
}
section#new div.wrap ul .newpro{
  grid-column: 2;
  display: flex;
  width: calc(100% / 2);
}
section#new div.wrap ul .newpro div.products {
  
}
section#new div.wrap ul .newpro div.products img {  
  width: 100px;
  height: 100px;
}
section#new div.wrap ul .newpro div.products h3 {
  
}
section#new div.wrap ul .newpro div.products p {
  
}
section#new div.wrap ul .newpro div.products p span {
  
}
section#new div.wrap ul .newpro div.products p span br {
  
}
section#new div.wrap ul .newpro div.products a {
  
}