div#title {
  
}
div#title div.photo1 {  
  position: relative;
}
div#title div.photo1::before{
  content: "";
  background-image: url(../img/title_photo1.jpg);
  width: 100%;
  height: 100%;
}
div#title div.photo1 .text{
  position: absolute;
  bottom: 100px;
  left: 190px;
}
div#title div.photo1 .text h2 {  
  font-weight: 700;
  line-height: 2;
}
div#title div.photo1 .text p {  
  font-size: 22px;
}
div#title div.photo2 {
  
}
div#title div.photo2 h2 {
  
}
div#title div.photo2 p {
  
}
div#title div.photo3 {
  
}
div#title div.photo3 h2 {
  
}
div#title div.photo3 p {
  
}